@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  margin: 0;
}

#app {
  height: 80vh;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

a {
  background-color: blueviolet;
  border-radius: 5px;
}
a:hover {
  background-color: rgb(110, 23, 192);
}
a,
.blue {
  text-decoration: none;
  color: rgba(144, 149, 155, 0.628);
  transition: 0.4s;
  padding: 3px;
}
a,
.blue:hover{
  color: #f8f9fa;
}
header {
  text-align: center;
  line-height: 1.5;
  background-color: #4285f4; /* Color moderno */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0 0 100% 100%;
  transition: background-color 0.3s;
}

header:hover {
  background-color: #800080; /* Color violeta al pasar el cursor */
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-left: 1px solid #4285f4; /* Color moderno */
  text-align: center;
  color: #fff; /* Texto blanco */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; /* Espaciado entre letras */
  background-color: #4285f4; /* Color moderno por defecto */
  border-radius: 4px;
  margin: 2px; /* Espaciado entre enlaces */
  transition: background-color 0.3s, transform 0.2s ease-in-out; /* Agrega transición para suavizar el cambio */

  /* Estilos específicos para cada enlace */
  &:nth-child(odd) {
    transform: translateY(5px); /* Desplazamiento hacia abajo para enlaces impares */
  }

  &:nth-child(even) {
    transform: translateY(-5px); /* Desplazamiento hacia arriba para enlaces pares */
  }

  &:hover,
  &.router-link-exact-active {
    background-color: #004080; /* Color al pasar el cursor o activo */
    transform: translateY(-5px);
  }
}

header:hover nav a.router-link-exact-active {
  background-color: #800080; /* Color violeta al pasar el cursor sobre el encabezado */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
  }

  #app {
    display: grid;   
    padding: 0 2rem;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
    margin: 0 auto;
  }
}
