@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#app {
  height: 80vh;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

a {
  background-color: blueviolet;
  border-radius: 5px;
}
a:hover {
  background-color: rgb(110, 23, 192);
}
a,
.blue {
  text-decoration: none;
  color: rgba(144, 149, 155, 0.628);
  transition: 0.4s;
  padding: 3px;
}
a,
.blue:hover{
  color: #f8f9fa;
}
header {
  text-align: center;
  line-height: 1.5;
  background-color: #4285f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 1rem;
  border-radius: 0 0 100% 100%;
  transition: background-color 0.3s;
}

header:hover {
  background-color: #800080;
}
header:hover nav a.router-link-exact-active {
  background-color: #c22cc2; 
}

header:hover nav a {
  background-color: #ab3eab; 
}
header:hover nav a:hover {
  background-color: #c22cc2; 
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-left: 2px solid #ffffffa4;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; 
  background-color: #4285f4;
  border-radius: 4px;
  margin: 2px; 
  transition: background-color 0.3s, transform 0.2s ease-in-out; 

  &:nth-child(odd) {
    transform: translateY(5px);
  }

  &:nth-child(even) {
    transform: translateY(-5px); 
  }

  &:hover,
  &.router-link-exact-active {
    background-color: #004080; 
    transform: translateY(-5px);
  }
}
  
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
  }

  #app {
    display: grid;   
    padding: 0 2rem;
    width: 100%;
    margin: 0 auto;
  }
}
